@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
@import './styles/theme.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: var(--font-family-primary);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--text-primary);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  /* Scrollbar verstecken, aber Scrollen erlauben */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE und Edge */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

#root {
  min-height: 100vh;
  width: 100%;
}
